# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/android:api-29-node

    working_directory: "~/{{PROJECT_NAME}}"

    steps:
      # setup NPM
      - run: echo 'export PATH=~/npm_prefix/bin:$PATH' >> $BASH_ENV
      - run: npm config set prefix ~/npm_prefix

      # setup TNS
      - restore_cache:
          keys:
            - global-modules-linux-{{CLI_VERSION}}
      - run: tns --version || npm i -g nativescript@{{CLI_VERSION}}
      - save_cache:
          paths:
            - ~/npm_prefix
          key: global-modules-linux-{{CLI_VERSION}}
      - run: tns usage-reporting disable
      - run: tns error-reporting disable

      - checkout

      # NODE PACKAGES
      - run: npm install
      - restore_cache:
          key: gems-linux-{{ checksum "Gemfile" }}
      # INSTALL GEMS (fastlane)
      - run: bundle config set path 'vendor/bundle'
      - run: bundle install
      - save_cache:
          key: gems-linux-{{ checksum "Gemfile" }}
          paths:
            - vendor/bundle

      # build and publish if needed
      - restore_cache:
          key: gradle-{{ checksum "package.json" }}
      - run:
          name: Fastlane
          command: bundle exec fastlane android build
      - save_cache:
          key: gradle-{{ checksum "package.json" }}
          paths:
            - ~/.gradle

      # Expose artifacts
      - store_artifacts:
          path: ~/fl_output
          destination: ~/output
